/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
h1{
  font-size: 50px;
  font-style: italic;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.carousel-inner{
  height: 720px;


}
.carousel-item{
    height: 100% !important;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: cover;




}
.info1{
  padding-left: 40px;
}

.C1{
  color: white;

  background-image: url('image/images2.jpeg');


}
.C2{
  background-image: url("image/homeautomation.jpeg");




  padding-top: 100px;
  padding-bottom: 100px;

background-repeat: no-repeat;
 background-size: cover;

}
.C3{
  background-image: url("image/siemens.jpeg");

}


.h1{
  font-size: 40px;
  font-weight: bolder;
  color: white;
  padding-top: 100px;
  padding-left: 30px;
  display: table;

/*
    content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #9197AE;
      mix-blend-mode: multiply;
      padding-top: 350px;

      font-weight: bolder;
        font-style: italic; */

}

.h1{
  color: white;
}
.h2{

  font-size: 40px;
  font-weight: bolder;
  color: white;
  padding-top: 100px;
  padding-left: 30px;
  display: table;

}
.p1{
  color: white;
  font-size: 20px;
  padding-left: 30px;
  padding-top: 30px;





}
.h3{
  text-align:center;
  color: white;
  font-size: 80px;

}
.p2{
  text-align: center;
  color: white;
  font-size: 40px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {

  bottom: 3rem;
  z-index: 10;

}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.testimonial-image{
  width:40%;
  border-radius: 100%;

}
.contact-us{
  padding-top: 30px;
}
.featurette-heading{
  padding-bottom: 20px;
}
.featurette{
padding-top: 10px;

}
.featurette-heading{
  position: relative;
  top: 10px;
 padding-bottom: 30px;
}
.testimonial{
  position: relative;
  top: 100px;
  bottom: 500px;



  width: 20%;

}
.
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}
.navBar{
  font-size: 15px;
  font-weight: bold;
  font-style: italic;

  padding: 10px;
   padding-top: 10px;
   padding-right: 20px;
   text-decoration: none;

    color: #c4c4c4;


}
.dropdown-item{
  padding-top: 10px;
  font-style: normal;

}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
/* contact css
-------------------------------------------------- */


/*FOOTER---*/
.copyright{

  text-align: center;

  position: relative;
  top: -200px;
}

/*Products ---*/

section{
    padding: 40px 0;
}
.details-card {
	background: #d3e0ea;
}

.card-content {
	background: #dddddd;
	border: 20px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 10%;
    left: 30%;

    padding: 4px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 2px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}

.container2{
  padding-top: 20px;
}
.container {
  padding-top: 10px;
}
.s2{
  align-items: center;
  padding-left: 600px;
}
.siemens-1{
  padding-bottom: 10px;

  text-align: center;
  background-color: white;
    color: #54e346;
    font-size: 10px;

}
.card-container {
	background: #dddddd;
	border: 20px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.more2{
  padding-left: 520px;
  align-items: center;
  padding-top: 20px;
}

/*abb---*/
.abb1{
  height: 150px;
  padding-top: 60px;
  padding-left: 550px;
}
.abb2{
  height: 150px;
  padding-top: 60px;
  padding-left: 630px;

}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .section .abb2 .abb1 .more2 .card-container .siemens-1 .s2 .container .container2 a.btn-card .btn-card:hover {
    width: 100%;
  }
}
.section-heading{

}
/*danfoss---*/
#pricing {
  padding: 100px;
  background-color: #e4efe7;

}

.price-text {
  font-size: 3rem;
  line-height: 1.5;

}

.pricing-column {
  padding: 2% 3%;


}
.danfoss-img{
  height:200px;

}
.products-btn{
  color: black;
}
.products-btn:hover{
  color: orange;
}
.danfoss-logo{
  height: 50px;
}
.omron-logo{
  height: 35px;
}
.siemens-logo{
  height: 40px;
  padding-left: 10px;


}
/*footer*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .footer_main {
    padding: 0px 0px 10px 10px;
  }
}

.footer-right p,
.footer_middle p {
  font-family: montserrat;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

ul.footer_list {
  list-style: none;
  padding-left: 0px;
}
ul.footer_list li {
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.6;
  font-weight: 500;
}

ul.footer_list li.phone {
  font-size: 22px;
    color: rgba(0, 0, 0, 1);
}

ul.footer_list li a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  text-transform: none;
}
ul.footer_list a:hover {
  color: rgba(54, 204, 142, 1);
  text-decoration: none;
  list-style: none;
}

.footer_middle h4, .footer-right h4 {
  font-family: montserrat;
  font-size: 24px;
}







.hero-cta__form input:focus {
  outline: none;
}




.footer_trust_top {
  width: 100%;

  margin: 0px auto;
  text-align: center;
}
.footer-right{
  align-items: center;
}
.footer2{
  padding-left: 200px;
  padding-top: 0px;
}
.footer-right {

   margin: 0 auto;
   display: flex;
   justify-content: flex-end;
   justify-content: center;
 }
 .p8{
   text-align: center;
   padding: 0px;
 }
 .footer-2{
   text-align: right;
position: relative;
top: -150px;
 }
 .container{
   padding-top: 0px;
   padding-bottom: 0px;
 }
 .copy-2{
   padding-bottom: 0px;
   text-align:center;
   position: relative;
   top: -30px;
   color: #aaaaaa;
 }
 .what-2{
   text-align: right;
   padding-right: 150px;



 }
 .what-2{
   position: relative;
   top:-180px

 }
 .h7{
   padding-top: 10px;
 }
 .what-3{
   
   color: #6c757d;


 }
